/* --------- */
/* VARIABLES */
/* --------- */

@max1080: ~"(max-width: 1080px)";
@max768: ~"(max-width: 768px)";
@max500: ~"(max-width: 500px)";
@max375: ~"(max-width: 375px)";

/* ------- */
/* -CARDS- */
/* ------- */

.main_page-cards {
  margin-top: 50px;
  margin-bottom: 60px;
}

.cards-container {
  min-height: 452px;
  display: grid;
  column-gap: 22px;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;

  @media @max1080 {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    min-height: 240px;
  }

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

.card {
  min-height: 340px;
  padding: 27px;

  color: white;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: left 28px bottom 40px;
  user-select: none;

  &:hover {
    cursor: pointer;
    // box-shadow: 0 25px 50px -21px currentColor;
  }

  @media @max1080 {
    min-width: calc(100% - 80px);
  }

  @media @max500 {
    min-height: 200px;
  }
}

.card_subheader {
  font-weight: 500;
  font-size: 20px;
  color: #ffffffb5;

  @media @max1080 {
    font-size: 40px;
  }

  @media @max768 {
    font-size: 30px;
  }

  @media @max500 {
    font-size: 24px;
  }
}

#hero_card-0 .card_header {
  font-size: 48px;

  @media @max1080 {
    font-size: 60px;
  }

  @media @max768 {
    font-size: 48px;
  }

  @media @max500 {
    font-size: 32px;
  }
}

.card_header {
  font-weight: 500;
  font-size: 36px;
  line-height: 1;

  @media @max1080 {
    font-size: 60px;
  }

  @media @max768 {
    font-size: 48px;
  }

  @media @max500 {
    font-size: 32px;
  }
}

