/* --------- */ 
/* VARIABLES */
/* --------- */ 

@max1080: ~'(max-width: 1080px)';
@max768: ~'(max-width: 768px)';
@max375: ~'(max-width: 375px)';

/* ------- */
/* -CARDS- */
/* ------- */

.main_page-cards {
  margin-top: 50px;
  margin-bottom: 60px;
}

.cards-container {
  height: 452px;
  display: grid;
  column-gap: 22px;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;

  @media @max1080 {
  }
}

.card {
  height: calc(100% - 54px);
  padding: 27px;

  color: white;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: left 28px bottom 40px;
  user-select: none;

  @media @max1080 {
    // width: 90vw;
  }
}

.card_subheader {
  font-weight: 500;
  font-size: 20px;
  color: #ffffffb5;
}

.card_header {
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
}

.card-1 .card_header {
  font-size: 48px;
}
