/* --------- */ 
/* VARIABLES */
/* --------- */ 

@max1080: ~'(max-width: 1080px)';
@max768: ~'(max-width: 768px)';
@max500: ~'(max-width: 500px)';
@max375: ~'(max-width: 375px)';


#cardsColors() {
  first: #7027F0;
  second: #BC7AFE;
  third: #F953FD;
}

/* -------- */ 
/* -COMMON- */
/* -------- */ 

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.container {
  max-width: 1100px;
  min-width: 224px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;

 @media @max768 {
    padding-left: 40px;
    padding-right: 40px;
 }
}

.d-block {
  display: block;
}

.overflowY-hidden {
  overflow-y: hidden;
}