* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1410px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;

 @media (max-width: 1200px) {
  background-color: aquamarine;
 }
}

/* ------ */
/* HEADER */
/* ------ */

.header {
  height: 100px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-text {
  font-size: 36px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menuListItem {
  margin-right: 60px;
  font-weight: 700;
  font-size: 20px;
}

.loginBtn {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  border-radius: 30px;
}

/* ------ */
/* -HERO- */
/* ------ */

.hero-header {
  width: 44%;
  font-size: 64px;
}

.hero_links-list {
  max-height: 160px;
  margin-top: 80px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero_links_list-item {
  max-width: 272px;
  margin-bottom: 26px;
}

.hero_link {
  font-size: 20px;
  border-bottom: 1px solid #A6A6A6;
}