/* --------- */
/* VARIABLES */
/* --------- */

@max1080: ~"(max-width: 1080px)";
@max768: ~"(max-width: 768px)";
@max500: ~"(max-width: 500px)";
@max375: ~"(max-width: 375px)";

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  width: 100%;
  text-align: center;
}

.product-text {
  margin-top: 30px;
  font-weight: 300;
  font-size: 30px;
  text-align: center;

  @media @max768 {
    font-size: 24px;
  }

  @media @max375 {
    font-size: 20px;
  }
}

.product-tags_container {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  padding: 10px 20px;
  margin: 30px 10px 0;

  display: flex;
  align-items: center;

  font-size: 24px;
  border-radius: 30px;
  box-shadow: 0 10px 36px 8px #0000000f;

  img {
    width: 36px;
    height: 36px;
  }

  span {
    margin-left: 12px;
  }

  @media @max1080 {
    font-size: 40px;
    font-weight: 300;
  }

  @media @max768 {
    font-size: 26px;
    padding: 10px 20px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      margin-left: 8px;
    }
  }

  @media @max500 {
    font-size: 22px;

    img {
      width: 22px;
      height: 22px;
    }

  }
}
