.footer {
  margin-top: 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  margin-bottom: 30px;
}

.footer-subheader {
  margin-bottom: 20px;
}

.footer_column-link {
  font-weight: 500;
  font-size: 13px;
  color: #a6a6a6;
}

.footer_text-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  column-gap: 100px;
  color: #a6a6a6;
}

.footer-text {
  font-size: 11px;
}

.copyright {
  margin-bottom: 7px;
}
